<div>
    <h1>Upcoming Angular Events</h1>
    <hr>

    <div class="row">
        <div *ngFor="let event of events" class="col-md-5">
            <events-thumbnail #childReference (eventEmitter)="handleEventClicked($event)" [event]="event"></events-thumbnail>
        </div>
    </div>

    <!-- 
    <events-thumbnail #childReference (eventEmitter)="handleEventClicked($event)" [event]="event1"></events-thumbnail>
    <button class="btn btn-primary" (click)="childReference.logAddress()">
        Log Address
    </button>    
    <h3>{{childReference.someValue}}</h3>
    -->
</div>